/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Dancing+Script:wght@700&family=Poppins:wght@400;500&display=swap');
/* Commons Files or utilities */
/* BackGround Image  */
.background{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* width: 100%; */
}
/* navbar */
.navbar-color{
    background-color: black;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(182, 176, 176) , rgb(106, 106, 209));
    color:rgb(63, 54, 54);
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
    color: rgb(236, 232, 232);
    text-shadow: 2px 2px 4px #d4cccc;
    width: 20%;
    align-items: center;
    
}
.link-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.link-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
.link-button:hover span {
    padding-right: 25px;
  }
.link-button:hover span:after {
    opacity: 1;
    right: 0;
  }
.pack{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn-pack{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-decoration: none;

}
/* Support section  */
.support-head{
  text-align: center;
}
.area{
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  }
.support-pro{
      display: grid;
      width: 60%;
      margin-left: 2%;
      margin-right: 2%;
      padding-left: 3%;
      padding-right: 3%;
      border-radius:10px;
      text-align: justify;
}
img{
  width: 60%;
  
}
.img-pos{
  text-align: center;
}
.contact-button{
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(to right, rgb(196, 185, 185) , rgb(59, 164, 224));
  color:rgb(39, 23, 23);
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  width: 40%;
  align-items: center;
  
}
.contact-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.contact-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.contact-button:hover span {
  padding-right: 25px;
}
.contact-button:hover span:after {
  opacity: 1;
  right: 0;
}
/* package  */
.toast{
margin: auto;
}
.package {
  background-color: #248fce;
  border: none;
  color: white;
  padding: 16px 32px;
  
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.package {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
.package:hover {
  background-color: #008CBA;
  color: white;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #292c29;
}

.button1:hover {
  background-color: #14cdee;
  color: white;
}
/* Footer Part  */
footer{
  background-color: rgb(141, 186, 204);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  height: 150px;
  
}
.foot{
  color: rgb(0, 0, 0);
}
.copy{
  text-align: center;
  margin-top: 1%;

}
/* Toast  */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(58, 102, 223);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}